alembic==1.6.5
bidict==0.21.2
click==8.0.1
Flask==2.0.1
Flask-Migrate==3.1.0
Flask-SocketIO==5.1.1
Flask-SQLAlchemy==2.5.1
greenlet==1.1.1
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.5
Markdown==3.3.4
MarkupSafe==2.0.1
pymdown-extensions==8.2
PyMySQL==1.0.2
python-dateutil==2.8.2
python-editor==1.0.4
python-engineio==4.2.1
python-socketio==5.4.0
six==1.16.0
SQLAlchemy==1.4.23
Werkzeug==2.0.1
