{% extends "base.html" %}
{% block title %} chat room {% endblock %}
{% block content %}
	<style>
		li{
			list-style-type: none;
			padding-top: 15px;
		}
		#msg{
			height: 550px;
			overflow: auto;
			}
	</style>
	<div class="">
		<nav class=" navbar navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					AlphaChat
				</a>
			</div>
		</nav>
		<div class="container-fluid w-100">
			
			<div id="msg" class="">
				{% for message in messages %}
					<li class="card rounded shadow my-5">
						<div class="container-fluid">
							<p class="fw-bold">{{message.username}} : </p> 
							<p>{{message.message|render_content|safe}}</p>
							<p>{{message.date}}</p>
						</div>
					</li>
				{% else %}
					<center id="none">
						<h1>No message here</h1>
					</center>
				{% endfor %}
			</div>
		</div>
	</div>
			<div class="border-top position-static">
				<div class="mt-3 mb-2">
					
					<label id="username" class="mx-3"> {{session["username"]}} </label>
					<input type="text" id="message" placeholder="your message here" class="w-50">
					
					<button id="send" type="submit" class="btn btn-outline-success">Send</button>
					<a href=" {{url_for("logout")}}  " title="logout" class="btn btn-outline-danger">Logout</a>
				</div>
				
			</div>
<script src="{{ url_for('static', filename='index.js') }} "></script>	
{% endblock %}